/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */

 /*=== REQUEST FORM */
.amazonsellerclub-form{
    background: white;
}
/*.amazonsellerclub-form .request-limit{
    float: right;
}

.amazonsellerclub-form.respond-form h3{
    text-align: center;
    color: black;
    font-weight: 600;
    border-top: 1px solid #eee;
    padding-top: 20px;
    margin: 0;
    margin-bottom: 10px;
}

#acf-form input, #acf-form select, #acf-form textarea {
    padding: 7px;
    height: auto;
    border-radius: 5px;
    border: 1px solid #aaa;
}

#acf-form ul.acf-checkbox-list li label {
    font-size: 16px;
}

#acf-form a{
    font-weight: 600;
}
#acf-form ul{
    padding: 0;
}
    #acf-form ul li {
        margin: 0;
    }
        #acf-form ul li:before{
            content: '';
            display: none;
        }

    /* Hide label */
/*    #acf-form .acf-field.hide_label .acf-label label{
        visibility: hidden;
    }
    #acf-form .acf-field.d_n_label .acf-label label{
        display: none;
    }*/

    /* Submit button */
   /* #acf-form .acf-form-submit{
        text-align: center;
    }
        #acf-form .acf-form-submit .acf-button{
            background: #ff6a00;
            border: 0;
            padding: 10px 35px;
            color: white;
            font-size: 16px;
            text-transform: uppercase;
            letter-spacing: 1px;
        }*/


/*=== REQUESTS LIST ===*/
.requests-list{

}

.requests-list .status{
    font-weight: 600;
}
    .requests-list .completed .status{
        color: #00b50e;
    }
    .requests-list .opened .status{
        color: #ff0000;
    }
    .requests-list .answered .status{
        color: #ffa500;
    }

.requests-list .request-view{
    color: #22abe4;
}
.requests-list .request-complete{
    color: #02ad51;
}
.requests-list .request-remove{
    color: #ff0000;
}

/*=== REQUESTS DETAILS ===*/
.factory-end-row{
    border-bottom: 2px solid;
}

/*=== ERROR MESSAGE ===*/
.error-message{
    max-width: 500px;
    margin: auto;
    background: white;
}
.error-message .error-title{
    padding: 10px 20px;
    background-color: #f76f6f;
    color: white;
    font-size: 30px;
    margin: 0;
}
.error-message p{
    padding: 10px 20px;
}