/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */


/*===================================
GLOBAL
====================================*/
.yellow-heading{
    color: #fcae1b;
    padding-left: 0px;
    background-color: transparent;
    font-size: 30px;
    text-align: center;
    font-weight: 400;
    margin: 0 0 30px;
}

.crs-page .table-heading,
#response-details .table-heading,
#request-details .table-heading{
    color: #fcae1b;
    padding-left: 30px;
    background-color: transparent;
    font-size: 20px;
    font-weight: 100;
}
.crs-page .heading,
#response-details .heading,
#request-details .heading {
    color: rgba(149, 149, 149, 0.5);
    margin: 0;
    font-size: 20px;
    padding-top: 3px;
    font-family: Intro;
    font-weight: 100;
    white-space: nowrap;
}

/*===================================
REQUEST FORM
====================================*/
.amazonsellerclub-form{
    background: white;
}


/*===================================
RESPONSE FORM
====================================*/
.single-request .amazonsellerclub-form{
    background: #FFF;
    border-radius: 5px;
    box-shadow: 0px 0px 15px #cacaca;
    box-sizing: border-box;
    max-width: 880px;
    width: 100%;
    margin: auto;
    padding: 10px 50px 30px;
    margin-bottom: 50px;
}


/*===================================
REQUESTS LIST
====================================*/
.requests-list{
    max-width: 1200px;
    width: 100%;
    margin: auto;
    margin-bottom: 50px;
}
.requests-list .box{
    background-color: #fff;
    margin-bottom: 5px;
}

@media screen and (max-width: 768px){
    .requests-list{
        padding: 0 10px;
    }
    .requests-list .request .actions{
        text-align: center;
        margin-top: 10px;
    }   
}

@media screen and (max-width: 480px){
    .requests-list .request > div{
        text-align: center;
        border-bottom: 1px solid #eee;
        padding-bottom: 5px;
        margin-bottom: 5px;
    }  
    .requests-list .request > div:last-child{
        border: 0;
    } 
}


/*===================================
MEMBERSHIP HOME
====================================*/
.membership-home-content {
    max-width: 1200px;
    width: 100%;
    margin: auto;
    margin-bottom: 50px;
    position: relative;
}
.membership-home-content #sidebar{
    background-color: #536476;
    padding: 10px 30px;
    border-radius: 5px;
    margin-top: 30px;
}
    .membership-home-content #sidebar ul{
        margin: 0;
        padding: 0;
    }
        .membership-home-content #sidebar ul li{
            margin: 0;
            padding: 0;
            list-style: none;
            padding-bottom: 7px;
            margin-bottom: 7px;
            border-bottom: 1px solid rgba(255, 255, 255, 0.7);
        }
        .membership-home-content #sidebar ul li:last-child{
            border: 0;
        }
            .membership-home-content #sidebar ul li a{
                color: white;
            }
            .membership-home-content #sidebar ul li a:hover{
                opacity: 0.5;
            }
@media screen and (max-width: 480px){
    .membership-home-content {
        padding: 10px;
    }
}


/*===================================
REQUEST/RESPONSE DETAILS
====================================*/
#request-details table.files td{
    background-color: #f6f6f6;
    padding: 50px 0;
    text-align: center;
    color: #8ca1b7;
    font-family: Intro;
    font-style: italic;
}

.box{
    border: 1px solid #d7d7d7;
    border-radius: 5px;
    padding: 5px 15px;x;
    margin-bottom: 10px;
}
.box.row{
    margin-left: 0;
    margin-right: 0;
}

/* Request */
#request-details .client-info .row {
    border: 1px solid #d7d7d7;
    border-radius: 5px;
    padding: 5px 15px;
    margin: 0;
    margin-bottom: 10px;
}
#request-details .product{
    word-wrap: break-word;
}

/* Response */
#response-details > .row,
#request-details > .row {
    margin: 0;
}

#response-details .factory{
    border: 1px solid #d7d7d7;
    border-radius: 5px;
    padding: 10px 30px;
    margin-bottom: 10px;
}
    #response-details .factory .heading{
        border-bottom: 1px solid;
        padding-bottom: 5px;
        padding-top: 10px;
        margin-bottom: 5px;
        line-height: 1;
    }
    #response-details .factory > .row{
        margin: 0;
    }
        #response-details .factory > .row > div{
            border-bottom: 1px solid rgba(149, 149, 149, 0.5);
            padding-left: 0;
            padding-left: 0;
            padding-top: 5px;
            padding-bottom: 5px;
        }
        #response-details .factory > .row:last-child > div{
            border: 0;
        }

#response-details .agent-images .row,
#request-details .agent-images .row {
    border: 1px solid #d7d7d7;
    border-radius: 5px;
    margin: 0;
}      
#response-details .agent-images div,
#request-details .agent-images div {
    background: #f6f6f6;
    padding-top: 10px;
    padding-bottom: 10px;
}
#response-details .notes > div,
#request-details .notes > div{
    border: 1px solid #d7d7d7;
    border-radius: 5px;
    padding: 10px 30px;
}


/*===================================
ERROR MESSAGE
====================================*/
.error-message{
    max-width: 500px;
    margin: auto;
    background: white;
}
.error-message .error-title{
    padding: 10px 20px;
    background-color: #f76f6f;
    color: white;
    font-size: 30px;
    margin: 0;
}
.error-message p{
    padding: 10px 20px;
}